{{>header}}
<section class="form-container">
  <div class="container">
    <div class="form-card">
      <h1 class="form-title">Nuevo Presupuesto</h1>

      <form method="post" action="/budget/new">
        <input type="hidden" name="_csrf" value="{{token}}">
        <div class="form-group">
          <label class="form-label">Nombre del presupuesto</label>
          <input type="text" name="budgetName" class="form-control form-control-lg" required>
        </div>

        <div class="form-group">
          <label class="form-label">Presupuesto total</label>
          <input type="number" step="0.01" name="total" class="form-control form-control-lg" required>
        </div>

        <div class="form-group">
          <label class="form-label">Moneda</label>
          <select class="form-control" name="currency" required>
            <option value="">Selecciona una moneda</option>
            <option value="EUR">Euros (€)</option>
            <option value="GBP">Libras (£)</option>
            <option value="JPY">Yenes (¥)</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label" for="budget">Categorias</label>
          <div><input type="checkbox" name="categories" value="ALOJAMIENTO"> Alojamiento</div>
          <div><input type="checkbox" name="categories" value="COMIDA"> Comida</div>
          <div><input type="checkbox" name="categories" value="TRANSPORTE"> Transporte</div>
          <div><input type="checkbox" name="categories" value="ACTIVIDADES"> Actividades</div>
          <div><input type="checkbox" name="categories" value="OTROS"> Otros</div>
        </div>

        <div class="form-group">
          <label class="form-label" for="itineraryId">Asociar a itinerario</label>
           <select id="itineraryId" name="itineraryId" class="form-control form-control-lg">
            <option value="">-- Ninguno --</option>
            {{#itineraries}}
              <option value="{{id}}">{{itineraryName}}</option>
            {{/itineraries}}
          </select>
        </div>

        <button type="submit" class="btn btn-danger btn-lg btn-block">Crear presupuesto</button>
        <a  href="/budgets" class="btn btn-cancel btn-lg btn-block">
          Cancelar
        </a>
      </form>
    </div>
  </div>
</section>
{{>footer}}