{{>header}}
<section class="form-container">
  <div class="container">
    <div class="form-card">
      <h1 class="form-title">Nuevo Gasto</h1>

      <form>

        <div class="form-group">
          <label class="form-label">Categoria</label>
          <select class="form-control">
            <option value="">Selecciona una moneda</option>
            <option value="cultural" selected>Alojamiento</option>
            <option value="gastronomia">Comida</option>
            <option value="aventura">Actividades</option>
            <option value="aventura">Actividades</option>
            <option value="aventura">Transporte</option>
            <option value="aventura">Otros</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-label" for="budget">Gasto nuevo</label>
          <input type="text" id="budget" class="form-control form-control-lg" />
        </div>

        <a href="/budget" class="btn btn-danger btn-lg btn-block">Crear Gasto</a>
      </form>
    </div>
  </div>
</section>
{{>footer}}