{{>header}}
<section class="form-container">
    <div class="container">
        <div class="form-card">
            <h1 class="form-title">Editar Perfil</h1>
            {{#errors}}
            <div  class="alert alert-danger" style="margin-bottom: 2rem;">
                <p> ⚠ {{message}}</p>
            </div>
            {{/errors}}
            <form method="post" action="/profile/{{user.id}}/edit" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="{{token}}">
                <div class="form-group">
                    <div class="profile-card">
                        <div class="profile-info">
                            <div class="profile-photo-wrapper">
                                <img src="/user/{{user.id}}/image" alt="Foto de perfil {{user.name}}"
                                    class="profile-photo-img">
                                <label for="imageInput" class="edit-photo-btn">
                                    <span class="material-symbols-outlined">edit</span>
                                </label>
                                <input id="imageInput" type="file" name="imageFile" accept="image/*" hidden>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="name">Nombre de usuario</label>
                    <input type="text" class="form-control" id="name" value="{{user.name}}" name="name">
                </div>

                <div class="form-group full-width">
                    <label class="form-label" for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" value="{{user.email}}" name="email" disabled>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" id="togglePassword">
                        ¿Quieres cambiar la contraseña?
                    </label>
                </div>

                <div id="passwordSection" style="display:none">

                    <div class="form-group">
                        <label>Contraseña actual</label>
                        <input type="password" name="currentPassword" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Nueva contraseña</label>
                        <input type="password" name="newPassword" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Confirmar contraseña</label>
                        <input type="password" name="confirmPassword" class="form-control">
                    </div>

                </div>
                <button type="submit" class="btn btn-danger btn-lg btn-block">Editar perfil</button>

                 <a href="/profile"  class="btn btn-cancel btn-lg btn-block">
                    Cancelar
                </a>
            </form>
        </div>
    </div>
</section>
<script>
  const toggle = document.getElementById('togglePassword');
  const section = document.getElementById('passwordSection');

  toggle.addEventListener('change', () => {
    section.style.display = toggle.checked ? 'block' : 'none';
  });
</script>
{{>footer}}