{{>header}}
<section class="form-container">
  <div class="container">
    <div class="form-card">
      <h1 class="form-title">Editar Presupuesto</h1>

      <form method="post" action="/budget/{{budget.id}}/edit">
        <input type="hidden" name="_csrf" value="{{token}}">

        <div class="form-group">
          <label class="form-label">Nombre del presupuesto</label>
          <input type="text"
                 name="budgetName"
                 class="form-control form-control-lg"
                 value="{{budget.budgetName}}"
                 required>
        </div>

        <div class="form-group">
          <label class="form-label">Presupuesto total</label>
          <input type="number"
                 step="0.01"
                 name="total"
                 class="form-control form-control-lg"
                 value="{{budget.total}}"
                 required>
        </div>

        <div class="form-group">
          <label class="form-label">Moneda</label>
          <select class="form-control" name="currency" required>
            <option value="EUR" {{#isEUR}}selected{{/isEUR}}>Euros (€)</option>
            <option value="GBP" {{#isGBP}}selected{{/isGBP}}>Libras (£)</option>
            <option value="JPY" {{#isJPY}}selected{{/isJPY}}>Yenes (¥)</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-label">Categorías</label>
          {{#categories}}
            <div>
              <input type="checkbox"
                     name="selectedCategories"
                     value="{{name}}"
                     {{#selected}}checked{{/selected}}>
              {{label}}
            </div>
          {{/categories}}
        </div>

        <div class="form-group">
          <label class="form-label" for="itineraryId">Asociar a itinerario</label>
          <select id="itineraryId" name="itineraryId" class="form-control form-control-lg">
            <option value="">-- Ninguno --</option>
            {{#itineraries}}
             <option value="{{id}}" {{#selected}}selected{{/selected}}>{{itineraryName}}</option>
            {{/itineraries}}
          </select>
        </div>

        <button type="submit" class="btn btn-danger btn-lg btn-block">
          Guardar cambios
        </button>

         <a href="/budgets"  class="btn btn-cancel btn-lg btn-block">
          Cancelar
        </a>
      </form>
    </div>
    {{#error}}
  <div class="alert alert-danger">
    <strong>⚠ {{error}}</strong>
  </div>
  {{/error}}
  </div>
</section>
{{>footer}}
