{{>header}}
  <main class="container my-5">
    <section class="text-center mb-5">
      <h2 class="fw-bold display-5">Planifica tu Viaje Perfecto</h2>
      <p class="text-muted fs-5 mx-auto" style="max-width: 700px;">
        Crea itinerarios de viaje deslumbrantes con o sin la ayuda de la IA. Tu próxima aventura está a solo unos clics de distancia.
      </p>

      <div class="d-flex justify-content-center gap-3 mt-4 flex-wrap">
        <a class="btn btn-warning btn-lg fw-bold" href="/itinerary/new/ai"><span class="material-symbols-outlined">auto_awesome</span> Crear con IA</a>
        <a class="btn btn-info btn-lg text-white fw-bold" href="/itinerary/new">Crear Manualmente</a>
      </div>
    </section>

    <section>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-bold fs-3">Mis Itinerarios</h3>
      </div>

      <div class="row g-4">
        {{#itineraries}}
        <div class="col-md-6 col-lg-4 itinerary-card mb-4">
          <div class="card shadow-sm h-100">
            <img src="/itineraries/{{id}}/image" 
             class="card-img-top" 
             alt="{{itineraryName}}"
             style="height: 250px; object-fit: cover; object-position: center;">
            <div class="card-body">
              <h4 class="card-title fw-bold">{{itineraryName}}</h4>
              <p class="text-muted">{{destination}}</p>
              <p class="text-secondary small mb-3">{{startDate}} - {{finishDate}}</p>
              <div class="d-flex justify-content-end gap-2">
                <a class="btn btn-info btn-sm" href="/itinerary">Ver</a>
                <a class="btn btn-warning btn-sm" href="/itinerary/edit">Editar</a>
                <button class="btn btn-outline-danger btn-sm">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
        {{/itineraries}}
      </div>
      <!-- Paginación con números -->
      <div class="row mt-4">
        <div class="col-12">
          <nav aria-label="Paginación de itinerarios">
            <ul class="pagination justify-content-center">
              
              <!-- Botón Anterior -->
              {{#hasPrevious}}
              <li class="page-item">
                <a class="page-link" href="/?page={{previousPage}}">&laquo;</a>
              </li>
              {{/hasPrevious}}
              

              <!-- Números de página (necesitarás pasar una lista desde el controlador) -->
              {{#pageNumbers}}
              <li class="page-item {{#active}}active{{/active}}">
                <a class="page-link" href="/?page={{number}}">{{display}}</a>
              </li>
              {{/pageNumbers}}

              <!-- Botón Siguiente -->
              {{#hasNext}}
              <li class="page-item">
                <a class="page-link" href="/?page={{nextPage}}">&raquo;</a>
              </li>
              {{/hasNext}}
              

            </ul>
          </nav>
        </div>
      </div>
    </section>
  </main>

 {{>footer}}
