{{>header}}
  <main class="main">
    <section class="trip-header">
      <div>
        <h2 class="trip-title">Viaje a Paris</h2>
        <p class="trip-subtitle">5 dias en Paris, Francia</p>
      </div>
      <div class="btn-group">
        <a class="btn btn-info fw-bold rounded" href="/itinerary/detail/map">
          <span class="material-symbols-outlined">map</span>
          Ver en mapa
        </a>
        <button class="btn btn-warning fw-bold rounded">
          <span class="material-symbols-outlined">download</span>
          Descargar PDF
        </button>
      </div>
    </section>

    <section class="day-section">
      <h3>Dia 1: Aterrizaje y ver Torre Eaffle</h3>
      <ul class="timeline">
        <li>
        <span class="material-symbols-outlined">flight</span>
          <div>
            <p>Legada a Paris</p>
            <small>10:00 AM</small>
          </div>
        </li>
        <li>
          <span class="material-symbols-outlined">hotel</span>
          <div>
            <p>Checking</p>
            <small>12:00 PM</small>
          </div>
        </li>
        <li>
          <span class="material-symbols-outlined">language_french</span>
          <div>
            <p>Visitar Torre Eiffel</p>
            <small>3:00 PM</small>
          </div>
        </li>
      </ul>
    </section>

    <section class="day-section">
      <h3>Dia 2: Museo del Louvre y Rio del Sena</h3>
      <ul class="timeline">
        <li>
          <span class="material-symbols-outlined">museum</span>
          <div>
            <p> Museo del Louvre</p>
            <small>9:00 AM</small>
          </div>
        </li>
        <li>
          <span class="material-symbols-outlined">restaurant</span>
          <div>
            <p>Comida</p>
            <small>1:00 PM</small>
          </div>
        </li>
        <li>
          <span class="material-symbols-outlined">directions_boat</span>
          <div>
            <p>Rio del Sena</p>
            <small>4:00 PM</small>
          </div>
        </li>
      </ul>
    </section>

    <section class="notes">
      <h3>Notas y Recordatorios</h3>
      <div class="notes-box">
        <p>No hay notas ni recordatorios asociados a este itinerario.</p>
      </div>
    </section>
  </main>
{{>footer}}
