{{>header}}
<section class="form-container">
  <div class="container">
    <div class="form-card">
      <h1 class="form-title">Trifly</h1>
      <h2 class="form-subtitle">Inicie Sesión</h2>
      
      <form action="/login" method="POST" >
        <input type="hidden" name="_csrf" value="{{token}}"/>
        {{#error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {{/error}}

        <div class="form-group">
          <label class="form-label" for="email">Correo electrónico</label>
          <input type="email" id="email" name="email" class="form-control form-control-lg" required/>
        </div>

        <div class="form-group">
          <label class="form-label" for="password">Contraseña</label>
          <input type="password" id="password" name="password" class="form-control form-control-lg" required/>
        </div>

        <button type="submit" class="btn btn-danger btn-lg btn-block">Iniciar Sesión</button>

        <p class="form-text">
          ¿No tienes una cuenta?
          <a href="/register" class="form-link">Regístrate aquí</a>
        </p>
      </form>
    </div>
  </div>
</section>
{{>footer}}